{% extends 'base.html' %}

{% block content %}
<div class="main-block">
    <div class="row main-title">
        <h1 class="display-6">
            {{ result.name }}
        </h1>
    </div>
    <hr/>
    <div class="row pet-detail-table">
            <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Value in our database</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">Pet ID in our database</th>
                        <td>{{ result.pet_id }}</td>
                      </tr>
                      <tr>
                        <th scope="row">Pet Type</th>
                        <td>{{ result.pet_type }}</td>
                      </tr>
                      <tr>
                        <th scope="row">Date Posted for sale</th>
                        <td>{{ result.date_posted }}</td>
                      </tr>
                      <tr>
                        <th scope="row">Pet Description</th>
                        <td>{{ result.description }}</td>
                      </tr>
                      <tr>
                            <th scope="row">Pet Price</th>
                            <td>{{ result.price }}</td>
                      </tr>
                      <tr>
                          <th scope="row">Created by</th>
                          <td>{{ result.user }}</td>
                      </tr>
                    </tbody>
            </table>
    </div>
    <div class="row mb-2">
      <h2>People who looked at this pet also looked at:</h2>
    </div>

      <div class="row">
          {% for pet in recommendations %}
          <div class="col md-4">
              <div class="card pet-card">
                  <h5 class="card-header">
                      {{ pet.name }}
                      <br/>
                      <small>{{ pet.pet_type }}</small>
                      <br/>
                      <small>{{ pet.pet_id }}</small>
                  </h5>
                  <div class="card-body">
                    <p class="card-text">{{ pet.description }}</p>
                    <p class="card-text">$ {{ pet.price }}</p>
                    <a href="{% url 'pet_details' pet.pet_id %}" class="btn btn-primary">Check it out!</a>
                  </div>
          </div>
          </div>
          {% endfor %}
      </div>


    <div class="row homepage-button">
            <a href="{% url 'homepage' %}" class="btn btn-primary">Back to Homepage</a>
    </div>
</div>  
{% endblock %}