{% extends 'base.html' %}

{% block content %}

<script>
/*
    window.onload = function(){

            function highlight(keyword) {
            var inputText = document.body;
            var innerHTML = inputText.innerHTML;

            console.log(innerHTML.indexOf(keyword));
            index = innerHTML.indexOf(keyword)
            innerHTML = innerHTML.substring(0, index) + "<span class = 'highlight'>" + keyword + "</span>" + innerHTML.substring(index + keyword.length);

            inputText.innerHTML = innerHTML;
    
        }

        highlight("{{ keyword }}");
    }
*/
</script>



<div class="main-block">
    <div class="row main-title">
        <h1 class="display-6">
            Search results matching "{{ keyword }}"
        </h1>
    </div>
    <hr/>
    <div class="row">
        <h2>
            Take a look at these pets (sorted by popularity):
        </h2>

        <div class="row status">
                {% if statusMsg %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>{{ statusMsg }}</strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                </div>
                {% endif %}
                {% if errMsg %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>{{ errMsg }}</strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                </div>
                {% endif %}
        </div>

        <div class="row">
                {% for pet in result %}
                <div class="card pet-card">
                        <h5 class="card-header">
                            {{ pet.name }}
                            <br/>
                            <small>{{ pet.pet_type }}, {{ pet.views }} views</small>
                            {% if pet.views > 4 %}
                            <span class="badge badge-danger">Hot listing</span>
                            {% endif %}
                        </h5>
                        <div class="card-body">
                          <p class="card-text">{{ pet.description }}</p>
                          <p class="card-text">$ {{ pet.price }}</p>
                          <a href="{% url 'pet_details' pet.pet_id %}" class="btn btn-primary">Check it out!</a>
                        </div>
                </div>
                {% endfor %}
        </div>
    </div>
    <div class="row homepage-button">
            <a href="{% url 'homepage' %}" class="btn btn-primary">Back to Homepage</a>
    </div>
</div>


{% endblock %}